<h2> Here is your information </h2>

<h4>
  <%= @current_user.email %>
  <br>
  <br>
  <%= @current_user.email %>
  <br>
  <br>
  <%= @current_user.trip.end_date %>
  <br>
  <br>
  <br>
</h4>