<h4>Plan your next adventure!</h4>
<br>
<strong>
<h5>
<%= link_to "My Page", user_path(current_user) %>
<br>
<%= link_to "Create a trip", new_trip_path(@trip) %>
<br>
<%= link_to "Create a destination", destinations_path(@destination) %>
</h5>
</strong>
<br>
<br>