<h1>Welcome to your travel planner!</h1>
<br>
<strong>

<%= link_to "See my trips", trips_path %>
<br>
<%= link_to "Create a trip", new_trip_path(@trip) %>
<br>
<%= link_to "Create a destination", destinations_path(@destination) %>

</strong>
<br>
<br>