<h1>Plan your next adventure!</h1>
<br>
<strong>
<h3>
<%= link_to "See my trips", trips_path %>
<br>
<%= link_to "Create a trip", new_trip_path(@trip) %>
<br>
<%= link_to "Create a destination", destinations_path(@destination) %>
</h3>
</strong>
<br>
<br>