<h4>Here is your destination:</h4>
<br>
<br>
<h5>
<em>Name:</em> <%= @destination.name %><br>
<em>Location:</em> <%= @destination.location %><br>
<em>Description:</em> <%= @destination.description %>
<br>
</h5>
<br>
<%= link_to "Edit Destination", edit_destination_path(@destination) %>
<br>
<br>



