// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  li {
    display: inline-block;
    margin-right: 8px;
  }
}