<h3>Add a location</h3>
<br>
<br>

<%= form_for(@location) do |f| %>
    
    Location Name: <%= f.text_field :name %><br><br>
    Description:<br> 
    <%= f.text_field :description %><br><br>
    
   <% end %>   
  <%= f.submit %>
  <% end %>
  
  <br>
  <br>
  <br>